#signupForm{
    -fx-font-family: "Helvetica";
}

#signupButton{
    -fx-background-color: #00f3b6;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
#signupButton:hover{
    -fx-background-color: #00F3DC;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
